#description {
  background-color: grey;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 300px;
  left: 30%;
  color: white;
  padding: 30px;
  border-radius: 20px;
  width: 700px;
  animation: 1s ease-out forwards;
  p {
    font-weight: 700;
  }
}
